@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    color: rgb(229 229 208);
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
    z-index: 1001;
    border-radius: 0;
    margin: 0;
}

.preloader__image {
    position: sticky;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -1px;
    background: url(loading_screen/102.jpg) no-repeat;
    background-position: center;
    background-size: contain;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
.root{
    display: grid;
    grid-template-areas: 
    "heder heder heder"
    "navbar center center"
    ".      center center"
    "footer footer footer";
    width: 100%;
    height: max-content;
    grid-template-rows: max-content max-content auto max-content ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    min-height: 100vh;
    margin: 0;
    grid-template-columns: max-content 1fr 1fr;
    padding: 15px;
}

.header{
    height: 100px;
    grid-area: heder;
    background: rgb(22 22 27);
    margin-bottom: 10px;
    padding: 30px;
    border: 1px solid rgb(61 61 61);
    margin: 5px;
}
.center{
    grid-area: center;
    background: rgb(22 22 27);
    padding: 20px;
    border: 1px solid rgb(61 61 61);
    margin: 5px;
}
.navbar{
    position: sticky;
    top: 0;
    grid-area: navbar;
    background: rgb(35, 35, 42);
    width: max-content;
    padding: 10px;
    border: 1px solid rgb(61 61 61);
    margin: 5px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transition: 0.3s
}
a:active {
  text-decoration: underline;
  color: rgb(148, 148, 148);
}
.footer{
    height: 100px;
    margin-top: 10px;
    grid-area: footer;
    background: rgb(22 22 27);
    padding: 10px;
    border: 1px solid rgb(61 61 61);
    margin: 5px;
}
.checkbox_input, .checkbox_label, .checkbox{
    display: none;
}
li {
    list-style-type: none;
    margin: 5px;
}
@media (max-aspect-ratio: 4/3){
    .root{
        grid-template-areas: 
        "heder"
        "center"
        "center"
        "footer";
        grid-template-columns: auto;
    }
    .header{
        margin: 0;
    }
    .navbar, .checkbox{
        overflow: hidden;
        position: fixed;
        height: auto;
        left: -100%;
        top: 0;
        width: auto;
        transition: 0.5s;
        z-index: 999;
    }
    .navbar{
        font-size: 25px;
        margin-left: 0;
    }
    .checkbox{
        top: 300px;
        left: 0;
        display: block;
    }
    .checkbox_input:checked + .root .navbar{
        left: 0;
        height: max-content;
    }
    .center{
        margin: 0;
        margin-top: 10px;
    }
    .checkbox_label{
        background: rgb(188, 105, 105);
        display: inline-grid;
        margin: 0;
    }
    .checkbox_input:checked + .root .checkbox_label{
        position: sticky;
        bottom: 0;
        right: 0;
    }
    .footer{
        margin: 0;
        margin-top: 10px;
    }
    
}
.body{
    background: rgb(13, 17, 23);
    font-size: 20px;
}
img{
    max-width: 100%;
}